<!-- <h2>AngularJS Calculator (Legacy)</h2>
<div id="legacy-calculator-root" ng-non-bindable>
  <div ng-controller="CalculatorController">
    <input type="number" ng-model="a" />
    <input type="number" ng-model="b" />
    <button ng-click="add()">Add</button>
    <button ng-click="subtract()">Subtract</button>
    <button ng-click="multiply()">Multiply</button>
    <button ng-click="divide()">Divide</button>
    <p>Result: {{ result }}</p>
  </div>
</div> -->

<hr />

<h2>Angular 14 Calculator</h2>
<app-calculator></app-calculator>
